.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none; /*bỏ dấu chấm trước thẻ li*/
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%; /* để avatar thành hình tròn thì dùng border-radius 50%*/
    border: 1.5px solid rgba(0,0,0,0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1; /*đi cùng với position*/
    padding-top: 2px;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    background-color: var(--white-color);
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-style: solid;
    border-width: 20px 27px; /*tạo thành hình chữ nhật để mũi tam giác đỡ nhọn*/
    border-color: transparent transparent var(--white-color) transparent; /*border thực chất là 4 tam giác ghép lại thành khối vuông hay chữ nhật, ta chỉ cần tạo border rồi cho 3 tam giác trong suốt 1 tma giác có màu là tạo được mũi nhọn tam giác*/
    position: absolute;
    top: -29px;
    right: 4px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute; 
    width: 84%; /* tìm cách fix ở đây vì position này đang ăn theo menu thì menu gần menu::after nhất*/
    height: 8px;
    top: -8px;
    right: 0;
}

.header__navbar-user-item {
    list-style: none;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 6px 16px;
    /* width: 100%; */
    display: block; /* mặc định thẻ a không có display nên phải mới vào mới padding được*/
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #f2efef;
    position: relative; /*thêm vào để có thể sử dụng z-index*/
    z-index: 1; /*để khi hover xám lên không bị trồi phần border tam giác màu trắng lên*/
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300; /*độ dày chữ*/
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex; /*ban đầu dùng inline-flex vì đang thêm vào thẻ li nên để các thẻ li trên cùng 1 dòng thì phải thêm inline còn thêm flex vào thẻ cha ul thì không cần inline*/
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

/* lớp giả :nth-child(): đưa số thứ tự của thẻ con vào thì sẽ dùng được */
.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-item--strong { 
    font-weight: 450;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086; /*có thể không dùng border-left mà thay vào đó là width: 1px; background-color: #FB9086;*/
    height: 16px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%); /*50% ở đây là 50% của chính nó, của dấu gạch hay thẻ li*/
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item .no-poiter {
    cursor: text;
    color: var(--white-color);
}

/* Header QR Code */
.header__qr {
    width: 184px;
    background-color: var(--white-color);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px; /*bo góc thẻ div QR */
    display: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /*chiều ngang 0, di chuyển xuống dưới 1px, độ nhọe 2px*/
    animation: fadeIn ease-in 0.3s;
}

.header__qr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    display: block; /*có vẻ không cần display block, mình nghĩ before có thể kế thừa từ header__qr*/
    left: 0;
    top: -16px;
}

.header_qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
    height: 16px;

}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

/* Header Notification */
.header__notify {
    position: absolute;
    z-index: 2;
    top: 118%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    /* cursor: default; để default ở đây để hủy poiter cũng được vì để ở đây cũng chỉ hủy poiter ở dòng "Thông báo mới nhận" những dòng khác chắc do không được kế thừa và không ghi đè được vì mặc định các thẻ a có cursor poiter*/
    transform-origin: calc(100% - 32px) top; /*điều chỉnh tâm xuất hiện từ ở giữa thành góc trên bên phải ở chỗ mũi nhọn tam giác nối lên Thông báo*/
    animation: headerNotifyGrowth ease-in 0.2s; /*--webkit ms o moz bala bala*/
    will-change: opacity transform; /*giống như khai báo trước để trình duyệt tối ưu hiệu ứng chuyển động của opacity và transform của keyframes hơn*/
    display: none;
}

.header__notify::before {
    content: "";
    border-style: solid;
    border-width: 20px 27px; /*tạo thành hình chữ nhật để mũi tam giác đỡ nhọn*/
    border-color: transparent transparent var(--white-color) transparent; /*border thực chất là 4 tam giác ghép lại thành khối vuông hay chữ nhật, ta chỉ cần tạo border rồi cho 3 tam giác trong suốt 1 tma giác có màu là tạo được mũi nhọn tam giác*/
    position: absolute;
    top: -29px;
    right: 4px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    top: -16px;
    right: 0;
}

/* Growth: lớn lên, to lên */
@keyframes headerNotifyGrowth {
    from {
        transform: scale(0); /*độ lớn, điều chỉnh độ lớn lên, 0 là trở thành không có kích thước, 1 là kích thước đầu*/
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}   

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
}

.header__notify-header h3 {
    color: #999;
    font-weight: 400; 
    font-size: 1.4rem;   
    line-height: 40px;
    margin-left: 12px;
    user-select: none; /*để không hiện cursor text, người dùng không thể copy*/
    --webkit-user-select: none;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain; /*để tránh ảnh bị méo vì không đủ chỗ nên bị ép ảnh vào, thuộc tính này tương tự background| contain*/
    /*nếu kh dùng cách này thì có thể đưa thẻ img vào thẻ khác như thẻ span để nó không là con trực tiếp của header__notify-item và notify link, làm nó không bị ảnh hưởng bởi display flex nữa*/
}

.header__notify-info {
    margin-left: 12px;
    display: flex; /*căn giữa chữ, tự mình căn khóa học không căn*/
    flex-direction: column;
    justify-content: center;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.6rem;
}

.header__notify-description {
    display: block;
    font-size: 1.1rem;
    color: #756F6E;
    font-weight: 400;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header_notify-footer {
    display: flex;
}

/* thẻ a không có thuộc tính block nên khi thẻ con tăng kích thước thì thẻ a vẫn giữ nguyên không tăng kích thước theo được */

.header_notify-footer-btn {
    text-decoration: none;
    color: var(--black-color);
    width: 100%;
    text-align  : center;
    padding: 8px 0;
    /* margin: auto; dùng width 100% thay cho padding left right thì chữ không căn giữa bằng margin auto được nữa mà thay vào đó là text-align center*/
    font-size: 1.4rem; /*thật ra nó có thể kế thừa ở thẻ cha nhưng cứ thêm cho chắc*/
    font-weight: 400;
}

/* Authen Modal */
.auth-form {
    width: 450px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden; /*để form chứa fb và gg đè lên thẻ cha làm không thấy radius, dùng lệnh này để cắt phần đè lên nằm ngoài thẻ cha*/
}

.auth-form__container {
    padding: 22px 30px 0;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 22px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--black-color);
}

.auth-form__switch-btn {
    font-size: 1.4rem;
    font-weight: 420;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus { /* trạng thái con trỏ nháy liên tục trong ô text gọi là focus, dùng lớp giả focus thì các lệnh sẽ được thực thi khi ấn vào ô text và sẽ mất khi chuyển ra khỏi ô text*/
    border-color: #888;
    border-width: 2px;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top:60px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
    background-color: transparent;
}

.auth-form__socials {
    background-color: #F5F5F5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}


.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__socials-icon.auth-form__socials--facebook {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 24px;
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: -6px 16px 0;
    border-left: 2px solid #EAEAEA;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}


/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none; /* phòng trường hợp các trình duyệt cũ hay IE cho dấu gạch chân và nền xanh vô icon logo shopee*/
    /* color transparent sẽ không ảnh hưởng tới màu logo shopee vì đó là logo ảnh hoặc logo fill*/
}

.header__logo-img {
    width: 140px;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 6.5px);
    right: 1px;
    z-index: 1;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.15rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default; /*chỉ cho pointer khi di vô giỏ hàng còn vô form chưa có sản phẩm thì bỏ pointer*/
    display: none;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}

.header__cart-list-item {
    list-style: none;
    max-height: 56vh; /*không dùng px vì khi co nhỏ web sẽ bị che nút giỏ hàng và xấu, 56vh là 56% độ cao trình duyệt, co nhỏ thông thường sẽ không mất nút giỏ hàng trừ khi quá nhỏ*/
    overflow-y: scroll; /*có thể dùng auto thay vì auto mặc định là scroll, khi form vượt quá height thì sẽ tạo ra thanh kéo, không muốn tạo thanh kéo ngnang khi chữ quá dài thì dugnf overflow-y để chỉ set cho chiều dọc*/
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #eeecec;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    flex: 1;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    padding-right: 16px;
    font-weight: 500;
    color: var(--text-color);
    text-align: left;
    justify-content: flex-start;
    display: block; /*trường hợp webkit box không hỗ trợ thì sẽ chạy block*/
    display: -webkit-box; /*chỉ hỗ trợ trên các prozer có core webkit, dùng thêm block để khi không hỗ trợ thì block sẽ được thay vào*/
    -webkit-box-orient: vertical; /*chọn hướng, vertical là dọc, chọn dọc vì dòng 1 xuống hàng dọc tới hàng 2*/
    -webkit-line-clamp: 2; /*giới hạn xuống dòng, cho 2 vào thì quá dòng 2 sẽ kh hiện và hiện thành dấu ...
    phải overflow hidden để cắt dòng thừa đi vì nó sẽ hiện ... và không cắt dòng dưới */
    /* text-overflow: ellipsis;
    white-space: nowrap;  chỉ áp dụng được với 1 dòng, khi có thuộc tính white sapce nowrap nó sẽ đi xuyên qua đi tiếp mãi ở dòng 1, 
    dòng thừa sẽ bị che đi, thêm text-overflow ellipsis giúp hiện ra dấu ... nhưng cách này chỉ dùng để hiện 3 chấm ở dòng 1 được thôi*/
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 1.1rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.3rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.header__cart-item-decscription {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 400;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-remove:hover{
    cursor: pointer;
    color: var(--primary-color);
}


.header__cart-list::after {
    content: "";
    position: absolute;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 3px;
    top: -26px;
    cursor: pointer;
}

.header__cart--no-cart {
    padding: 24px 0;
}

.header__cart--no-cart .header__cart--no-cart-img, 
.header__cart--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart--no-cart-img {
    width:54%;
    display: none;
}

.header__cart-list-no-cart-msg {
    font-size: 1.4rem;
    display: none;
    margin-top: 14px;
    color: #444;
}

.header__cart-notice {
    position: absolute;
    padding: 1px 7px;
    top: -4px;
    right: -4px;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    font-size: 1.4rem;
    line-height: 1.3rem;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.header__cart-view-cart {
    float: right;
    margin: 8px 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-seclect-label {
    font-size: 1.4rem;
    color: #555;
}

.header__search-seclect-icon {
    font-size: 1.4rem;
    color: rgb(131,131,131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
}

.header__search-select:hover .header__search-option {
    display: block;
    cursor: pointer;
}

.header__search-option::after {
    content: "";
    display:block;
    position: absolute;
    width: 100%;
    height: 20px;
    top:-16px;
    left: 0;
}

.header__search-option {
    background-color: var(--white-color);
    position: absolute;
    right: 0;
    top: 180%;
    z-index: 1;
    border-radius: 2px;
    list-style: none;
    width: 130px;
    box-shadow: 0 1px 2px #e0e0e0;
    animation: fadeIn ease-in 0.2s;
    display: none;
}

.header__search-option-item {
    padding: 8px;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: #666;
    margin-left: 12px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    padding: 0 10px 0 8px;
    display: none;
}

.header__search-option-item--active i{
    display: inline-block; /*inline block mới được, nếu không nó sẽ xuống dòng*/

}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    z-index: 1;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    display: none;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history-heading {
    margin: 10px 12px 6px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    cursor: default;
}

.header__search-history-list {
    list-style: none;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #333;
    line-height: 38px;
    display: block;
}

.app__container {
    background-color: #F5F5F5;
    margin-top: var(--header-height);
    padding-top: 36px;
    padding-bottom: 10px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category_heading {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 20px;
    text-transform: uppercase;
}

.category-list {
    list-style: none;
    padding-bottom: 8px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item {
    position: relative;
}

.category-item:first-child:before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #E1E1E1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item__link {
    position: relative;
    right: 0; /*cho chạy từ trái sang phải*/
    transition: right linear 0.1s; /*định nghĩa transition khi có hoạt động xảy ra nó sẽ được gọi để tạo hiệu ứng*/
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem; 
    display: block;
    padding: 6px 16px;
}

.category-item__link:hover {
    right: -4px; /*cho chạy right từ 0 tới -4*/
    color: var(--primary-color);
}

/* Home sort + filter */

.home-filter {
    background-color: #ededed;
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
    background-color: #fff;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 0 2px #ccc;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    text-decoration: none;
    background-color: var(--white-color);
}

.home-filter__page-btn--disabled {
    cursor: default;
    background-color: #f9f9f9;
}

.home-filter__page-btn--disabled  .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #EEE;    
}

.home-filter__page-icon {
    font-size: 1.2rem;
    margin: auto;
    color: #555 ;
}

/* Product item */
.home-product-item {
    display: block;
    margin-top: 10px;
    position: relative;
    text-decoration: none;
    border-radius: 2px;
    background-color: var(--white-color);   
    box-shadow: 0 1px 2px 0 rgba(0, 0 ,0, 0.1);
    transition: transform ease-in 0.1s; /*định nghĩa ra animation đúng với transform, ứng transform sẽ ốp animation kiểu ease-in (linear-loang đều), thời gian 0.1s*/
    will-change: transform; /*để trình duyệt tối ưu animation transform*/
}

.home-product-item:hover {
    transform: translateY(-1px); /*nhích xuống theo chiều dọc, -1px thì sẽ nhích ngược thành lên trên 1px*/
    box-shadow: 0 1px 20px 0 rgba(0, 0 ,0, 0.05);
}

.home-product-item__img {
    padding-top: 100%; /*khi padding-top 100% ở background-image thì con số tương đối 100% là tương đối với chính thẻ cha chứa nó */
    background-repeat: no-repeat;
    background-size: contain;
    /* nếu dùng cover thì phải thêm background-position center */
    background-position: top center; /*khi dùng contain thì không dùng cái này cũng được*/
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block; /*trường hợp webkit box không hỗ trợ thì sẽ chạy block*/
    display: -webkit-box; /*chỉ hỗ trợ trên các prozer có core webkit, dùng thêm block để khi không hỗ trợ thì block sẽ được thay vào*/
    -webkit-box-orient: vertical; /*chọn hướng, vertical là dọc, chọn dọc vì dòng 1 xuống hàng dọc tới hàng 2*/
    -webkit-line-clamp: 2; /*giới hạn xuống dòng, cho 2 vào thì quá dòng 2 sẽ kh hiện và hiện thành dấu ...
    phải overflow hidden để cắt dòng thừa đi vì nó sẽ hiện ... và không cắt dòng dưới */
    /* text-overflow: ellipsis;
    white-space: nowrap;  chỉ áp dụng được với 1 dòng, khi có thuộc tính white sapce nowrap nó sẽ đi xuyên qua đi tiếp mãi ở dòng 1, 
    dòng thừa sẽ bị che đi, thêm text-overflow ellipsis giúp hiện ra dấu ... nhưng cách này chỉ dùng để hiện 3 chấm ở dòng 1 được thôi*/
}   

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through; /*dấu gạch giữa*/
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin:6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;

}

i.home-product-item__like-icon-fill { /*mặc định sẽ ẩn fill, vì thư viên fontawesome gọi css nhiều thư viên nên ưu tiên hơn, sẽ ghi đè none thành inline-block nên để ghi đè được phải dùng cái mạnh hơn là thêm thẻ i vào*/
    display: none;
    color: #F63D30;

}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}


.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8); /*không thể thu nhỏ icon nữa, dù có dùng thêm zoom 0. nên dùng scale để làm nhỏ icon*/
    transform-origin: right; /*khi bị thu nhỏ sẽ bị lệch đi sang trái hoặc hướng khác nên dùng right để nó ép về lại bên phải*/
    color: #D5D5D5;
    margin: -0.5px 0  0 auto; /*đẩy bên trái, đẩy sang phải tới khi gặp được thẻ khác*/
}

.home-product-item__star--gold {
    color: var( --star-gold-color );
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--black-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;  
    margin: 0 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 6px;
}

.icon--- {
    width: 11.5px;
}
.home-product-item__brand {
    margin-right: auto; /*đẩy ra 2 bên thay vì dùng space-between*/
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    background-color: currentColor; /*keyword css, ăn theo màu hiện tại, màu chữ set cho class này hiện tại là primary*/
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3.2px solid currentColor;
    border-left: 3.2    px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 3px;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 2px;
    font-weight: 600;
}

.home-product__pagination {
    margin: 48px 0 36px;
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 32px;
}

.footer__heading {
    font-size: 1.4rem;
    color: var(--text-color);
    text-transform: uppercase;
    padding-bottom: 10px;
}

.footer-list {
    list-style: none;
}

.footer-item__link {
    color: #737373;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 6px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);;
}

.footer-item__icon {
    font-size: 1.6rem;
    margin-right: 6px;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px; /*vì đặt height rồi nên không cần object fit nữa*/
    /* object-fit: contain;// giống background size nhưng khác là object-fit dùng cho img, phòng trường hợp ảnh ăn theo trục cross axiss rồi bị méo */
    border: 1px solid rgba(0, 0 ,0, 0.2);
    margin-top: 10px;
}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__download-app-img {
    height: 20px; /*không dùng width vì ông dài ông ngắn thêm vào sẽ thành ông to ông nhỏ*/
}

.footer__download-app-link {
    text-decoration: none;
    color: transparent;
    /*phòng trường hợp các trình duyệt cũ cho cả gạch chân và màu vào ảnh*/
}

.footer__bottom {
    margin-top: 30px;
    padding: 12px 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
    background-color: #F5F5F5;
}